/* Global Styles */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(17, 24, 39, 1);
  color: rgba(243, 244, 246, 1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Menu Styles */
.navbar-dark .navbar-brand {
  color: rgba(167, 139, 250, 1);
}

.navbar-dark .nav-link {
  color: rgba(243, 244, 246, 1);
}

.navbar-dark .nav-link.active,
.navbar-dark .nav-link:hover {
  color: rgba(167, 139, 250, 1);
}

.dropdown-menu.bg-dark {
  background-color: rgba(17, 24, 39, 1);
}

.dropdown-item.text-light {
  color: rgba(243, 244, 246, 1);
}

.dropdown-item.text-light:hover {
  color: rgba(167, 139, 250, 1);
  background-color: rgba(31, 41, 55, 1);
}

/* Home Styles */
.home-container {
  text-align: center;
  color: rgba(243, 244, 246, 1);
  background-color: rgba(17, 24, 39, 1);
}

.home-banner {
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
}

.home-title {
  font-size: 3rem;
  color: rgba(167, 139, 250, 1);
  margin: 0;
}

.home-subtitle {
  font-size: 1.5rem;
  color: rgba(243, 244, 246, 1);
}

.estreias-banner {
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
  padding: 3rem 0;
  background-color: rgba(31, 41, 55, 1);
  border-radius: 10px;
}

.estreias-marquee {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  will-change: transform;
  animation: marquee 20s linear infinite;
}

.estreia-item {
  display: inline-block;
  margin-right: 70px;
  font-weight: bold;
  color: rgba(167, 139, 250, 1);
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 2rem;
  color: rgba(167, 139, 250, 1);
  margin-bottom: 1rem;
}

/* Popular Movies Styles */
.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 2rem;
  background-color: rgba(17, 24, 39, 1);
  color: rgba(243, 244, 246, 1);
}

.movie-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: rgba(31, 41, 55, 1);
  border-radius: 0.75rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

.movie-poster {
  width: 200px;
  border-radius: 0.5rem;
}

.movie-title {
  font-size: 1.5rem;
  color: rgba(167, 139, 250, 1);
  margin: 0.5rem 0;
}

.movie-overview {
  font-size: 0.875rem;
  color: rgba(243, 244, 246, 1);
  text-align: center;
}
